@import "../variables.less" ;

@offset: .5em ;
@size: 14em ;

.add {
  padding: @offset;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
  width: 100% ;
  height: 100% ;
  overflow-x: hidden ;
  overflow-y: auto ;
}

.add .new-item {
  width: @size ! important ;
  height: @size ! important ;
}
.add .new-item .ant-btn {
  border: none ;
  background-color: @highlight-color ;
  width: 100% ;
  height: 100% ;
}
.add .new-item .ant-btn:hover,
.add .new-item .ant-btn:active,
.add .new-item .ant-btn:focus {
  background-color: @primary-color ;
  border: 1px solid @text-color ;
}

.add .new-item .ant-btn .anticon {
  color: @text-color ;
  font-size: 300% ;
}