@import "../variables.less" ;
@offset: .5em ;

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px @disabled-color ;
  background-color: @text-color ;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 6px;
  background-color: @text-color ;
}
::-webkit-scrollbar-thumb {
  background-color: @primary-color ;
}

body {
  background-color: @body-background ! important;
  color: @text-color ;
  overflow-x: hidden ;
}

body ,
#application,
#application .ant-spin-nested-loading {
  width: 100% ;
  height: 100% ;
  overflow: hidden;
}

.ant-modal-mask {
  background-color: rgba( 0, 0, 0, .6) ! important ;
}

.ant-menu-item-active,
.ant-menu-item-selected {
  border: none ! important ;
}

.wrapper {
  background-color: transparent ;
  padding: @offset ;
  width: 100% ;
  height: 100% ;
}