@import "../variables.less" ;

@offset: .5em ;
@size: 14em ;

.item {
  display: block;
  width: @size ;
  height: @size ;
  padding: @offset ;
  margin: 0 ;
  overflow: hidden ;
}

.item .wrapper {
  background-color: @color-gray-2 ;
}

.item .name,
.item .price {
  display: inline-block ;
  overflow: hidden ;
  color: @text-color ;
}

.item .name {
  width: 70% ;
}
.item .price {
  width: 30% ;
  background-color: @primary-color ;
  text-align: center ;
}
.item .description {
  font-style: italic ;
  font-size: 70% ;
  color: @text-color ;
}

.item-authenticated {
  overflow: hidden ;
  position: relative;
  width: @size ;
  height: @size ;
}

.item-authenticated .btn-remove {
  position: absolute ;
  top: 10em;
  left: 3.5em;
  background-color: @error-color ! important ;
  border: none ! important ;
  color: @text-color ;
  margin: 0 ! important ;
}
.item-authenticated .btn-remove .anticon {
  font-size: 100% ;
}
