@import "../variables.less" ;

@img-size: 20px ;

.app-user {}
.app-user .anticon,
.app-user img {
  width: @img-size ;
  height: @img-size ;
}
.app-user span {
  color: @text-color ;
}
.app-user span.role {
  background-color: @primary-color ;
  color: @text-color ;
  padding: 0 4px;
  margin-left: 4px;
}